body, html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1rem;
}

body {
  background-color: darkseagreen;
  background-image: url('/assets/generozity-bar-1920x1080.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-bar > div {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}
.top-bar > div > div:first-child {
  color: rgb(98, 98, 98);

}
.raised-box {
  text-align: center;
}
.raised-bar {
  border: 1px solid whitesmoke;
  height: 40px;
  min-width: 425px;
  border-radius: 4px;
}
.goal-box {
  text-align: center; 
}
.empty-box {
  /* Take up all the available space, to push everything else out */
  width: 100%;
}
.last-donation-box {
  text-align: right;
}
.highest-donation-box {
  text-align: right;
  justify-self: right;
}

.last-donation-box > div:last-child,
.highest-donation-box > div:last-child {
  min-width: 150px;
  white-space: nowrap;
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bar {
  height: 100%;
  width: 0;
  border-radius: 2px;
  background-image: linear-gradient(45deg,
  rgb(206,22,31, 0.65) 25%,
  #FFBF00 25%,
  #FFBF00 50%,
  rgb(206,22,31, 0.65) 50%,
  rgb(206,22,31, 0.65) 75%,
  #FFBF00 75%,
  #FFBF00);
  background-size: 50px 50px;
}

.recent-donator {
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  opacity: 0;
  transition: opacity 3s;
}

.donation-message {
  padding: 5px;
}

